/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    
    .about-us-container {
    
        height: auto;
    }

    .about-us-map{
        text-align: center;
    }

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    .about-us-container {
    
        height: auto;
    }
    .about-us-map{
        text-align: center;
    }
    
    .customer-testemonial {
    
        width:auto;
        
    }


}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    
    .row{
        display: block;
        
        
        
    }
    .about-us-container {
    
        height: auto;
        
        
    }

    .customer-testemonial {
    
        width:auto;
        
    }



}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

   
.row{
    display: block;
    
}

.about-us-container {
    
    height: auto;
    
    
}
.customer-testemonial {
    
    width:auto;
    
}
   
}