.row {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

.testimonials-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(pictures/testemonials\ background\ image.jpeg);
    background-size: cover;
    color: #fff;
    height: 100vh;
    

}

.about-us-container {
    background-color: #f4f4f4;
    background-size: cover;
    color: #fff;
    height: 100vh;
    padding-top: 2%;
}

h2{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
        
    }

p{
    font-size: 150%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    

    
}
.main-title{
    font-size: 300%;
    color:#e67e22;
    text-align: center;

}
.title{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 180%;
    color:#e67e22;

}

.main-text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    font-size: 150%;
    color: #555;
}

.text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    font-size: 120%;
    color: #555;
}
    
    blockquote {
        padding: 2%;
        font-style: italic;
        line-height: 145%;
        position: relative;
        font-size: 110%;
        margin-top: 20px;
    }
    
    blockquote:before {
        content: "\201C";
        font-size: 500%;
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
    }
    
    cite {
        font-size: 90%;
        margin-top: 25px;
        display: block;
    }
    
    cite img {
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
        vertical-align: middle;
    }
    

    
    