    .footer-container {
        background-color: #fff;
        font-size:15px;
        line-height:24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer-links-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .footer-links-1 {
        margin: 10px;
    }

    .footer-links-2 {
        margin: 10px;
    }

    .footer-links {
        display: flex;
    }

    .footer-links-container h6 {
        text-align: center;
        color:#ffb23d;
        text-shadow: 0.1px 0.1px 0.1px #ffb23d;
        font-size:18px;
        text-transform:uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .footer-links a {
        text-decoration: none;
        color: #000000;
        text-align: center;
        margin: 0px 10px;
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover {
        color:#ffb23d;
        text-decoration:none;
    }

    .footer-social-media {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }
    
    .footer-social-icons a {
        width:40px;
        height:40px;
        line-height:40px;
        margin-left:6px;
        margin-right:0;
        border-radius:100%;
        background-color:#33353d
    }

    .social-icons li {
      display:inline-flex;
      margin-bottom:4px;
    }

    .social-icons a {
      background-color:#000000;
      color:#ffffff;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    
    .social-icons a.facebook:hover {
      background-color:#3b5998
    }

    .social-icons a.twitter:hover {
      background-color:#00aced
    }
    
    .social-icons a.instagram:hover {
      background-color:#8a3ab9
    }
    
    .social-icons a.pinterest:hover {
      background-color:#c8232c
    }

    .footer-copyright {
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
    }

    @media (max-width:440px) {
        .footer-container,.social-icons {
            text-align: center;
        }
    }
